<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Responsive week calendar</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="../static/styles/schedule_style.css">

  
</head>

<body onload="buildDayColumn()">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 id="nose"></h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>
        <span class="date"  id="today_date"></span>
        <span class="long"  id="today_day_long"></span>
        <span class="short" id ="today_day_short"></span>
      </th>
      <th>
        <span class="date"  id="tmr_date"></span>
        <span class="long"  id="tmr_date_long"></span>
        <span class="short" id="tmr_date_short"></span>
      </th>
      <th>
        <span class="date"  id="two_days_later_date"></span>
        <span class="long"  id="two_days_later_long"></span>
        <span class="short" id="two_days_later_short"></span>
      </th>
      <th>
        <span class="date"  id="three_days_later_date"></span>
        <span class="long"  id="three_days_later_long"></span>
        <span class="short" id="three_days_later_short"></span>
      </th>
      <th>
        <span class="date"  id="four_days_later_date"></span>
        <span class="long"  id="four_days_later_long"></span>
        <span class="short" id="four_days_later_short"></span>
      </th>
      <th>
        <span class="date"  id="five_days_later_date"></span>
        <span class="long"  id="five_days_later_long"></span>
        <span class="short" id="five_days_later_short"></span>
      </th>
      <th>
        <span class="date"  id="six_days_later_date"></span>
        <span class="long"  id="six_days_later_long"></span>
        <span class="short" id="six_days_later_short"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>08:00 am</span></td>
      <td id="today_800"></td>
      <td id="tmr_800"></td>
      <td id="2_days_later_800"></td>
      <td id="3_days_later_800"></td>
      <td id="4_days_later_800"></td>
      <td id="5_days_later_800"></td>
      <td id="6_days_later_800"></td>
    </tr>

   <tr>
      <td class="hour" rowspan="1" ><span>08:30 am</span></td>
      <td id="today_830"></td>
      <td id="tmr_830"></td>
      <td id="2_days_later_830"></td>
      <td id="3_days_later_830"></td>
      <td id="4_days_later_830"></td>
      <td id="5_days_later_830"></td>
      <td id="6_days_later_830"></td>
    </tr>
   <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>09:00 am</span></td>
      <td id="today_900"></td>
      <td id="tmr_900"></td>
      <td id="2_days_later_900"></td>
      <td id="3_days_later_900"></td>
      <td id="4_days_later_900"></td>
      <td id="5_days_later_900"></td>
      <td id="6_days_later_900"></td>
   </tr>
  <tr>
      <td class="hour" rowspan="1"><span>09:30 am</span></td>
      <td id="today_930"></td>
      <td id="tmr_930"></td>
      <td id="2_days_later_930"></td>
      <td id="3_days_later_930"></td>
      <td id="4_days_later_930"></td>
      <td id="5_days_later_930"></td>
      <td id="6_days_later_930"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>10:00 am</span></td>
      <td id="today_1000"></td>
      <td id="tmr_1000"></td>
      <td id="2_days_later_1000"></td>
      <td id="3_days_later_1000"></td>
      <td id="4_days_later_1000"></td>
      <td id="5_days_later_1000"></td>
      <td id="6_days_later_1000"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>10:30 am</span></td>
      <td id="today_1030"></td>
      <td id="tmr_1030"></td>
      <td id="2_days_later_1030"></td>
      <td id="3_days_later_1030"></td>
      <td id="4_days_later_1030"></td>
      <td id="5_days_later_1030"></td>
      <td id="6_days_later_1030"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>11:00 am</span></td>
      <td id="today_1100"></td>
      <td id="tmr_1100"></td>
      <td id="2_days_later_1100"></td>
      <td id="3_days_later_1100"></td>
      <td id="4_days_later_1100"></td>
      <td id="5_days_later_1100"></td>
      <td id="6_days_later_1100"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>11:30 am</span></td>
      <td id="today_1130"></td>
      <td id="tmr_1130"></td>
      <td id="2_days_later_1130"></td>
      <td id="3_days_later_1130"></td>
      <td id="4_days_later_1130"></td>
      <td id="5_days_later_1130"></td>
      <td id="6_days_later_1130"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>12:00 pm</span></td>
      <td id="today_1200"></td>
      <td id="tmr_1200"></td>
      <td id="2_days_later_1200"></td>
      <td id="3_days_later_1200"></td>
      <td id="4_days_later_1200"></td>
      <td id="5_days_later_1200"></td>
      <td id="6_days_later_1200"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>12:30 pm</span></td>
      <td id="today_1230"></td>
      <td id="tmr_1230"></td>
      <td id="2_days_later_1230"></td>
      <td id="3_days_later_1230"></td>
      <td id="4_days_later_1230"></td>
      <td id="5_days_later_1230"></td>
      <td id="6_days_later_1230"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>01:00 pm</span></td>
      <td id="today_1300"></td>
      <td id="tmr_1300"></td>
      <td id="2_days_later_1300"></td>
      <td id="3_days_later_1300"></td>
      <td id="4_days_later_1300"></td>
      <td id="5_days_later_1300"></td>
      <td id="6_days_later_1300"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>01:30 pm</span></td>
      <td id="today_1330"></td>
      <td id="tmr_1330"></td>
      <td id="2_days_later_1330"></td>
      <td id="3_days_later_1330"></td>
      <td id="4_days_later_1330"></td>
      <td id="5_days_later_1330"></td>
      <td id="6_days_later_1330"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>02:00 pm</span></td>
      <td id="today_1400"></td>
      <td id="tmr_1400"></td>
      <td id="2_days_later_1400"></td>
      <td id="3_days_later_1400"></td>
      <td id="4_days_later_1400"></td>
      <td id="5_days_later_1400"></td>
      <td id="6_days_later_1400"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>02:30 pm</span></td>
      <td id="today_1430"></td>
      <td id="tmr_1430"></td>
      <td id="2_days_later_1430"></td>
      <td id="3_days_later_1430"></td>
      <td id="4_days_later_1430"></td>
      <td id="5_days_later_1430"></td>
      <td id="6_days_later_1430"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>03:00 pm</span></td>
      <td id="today_1500"></td>
      <td id="tmr_1500"></td>
      <td id="2_days_later_1500"></td>
      <td id="3_days_later_1500"></td>
      <td id="4_days_later_1500"></td>
      <td id="5_days_later_1500"></td>
      <td id="6_days_later_1500"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>03:30 pm</span></td>
      <td id="today_1530"></td>
      <td id="tmr_1530"></td>
      <td id="2_days_later_1530"></td>
      <td id="3_days_later_1530"></td>
      <td id="4_days_later_1530"></td>
      <td id="5_days_later_1530"></td>
      <td id="6_days_later_1530"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>04:00 pm</span></td>
      <td id="today_1600"></td>
      <td id="tmr_1600"></td>
      <td id="2_days_later_1600"></td>
      <td id="3_days_later_1600"></td>
      <td id="4_days_later_1600"></td>
      <td id="5_days_later_1600"></td>
      <td id="6_days_later_1600"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>04:30 pm</span></td>
      <td id="today_1630"></td>
      <td id="tmr_1630"></td>
      <td id="2_days_later_1630"></td>
      <td id="3_days_later_1630"></td>
      <td id="4_days_later_1630"></td>
      <td id="5_days_later_1630"></td>
      <td id="6_days_later_1630"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>05:00 pm</span></td>
      <td id="today_1700"></td>
      <td id="tmr_1700"></td>
      <td id="2_days_later_1700"></td>
      <td id="3_days_later_1700"></td>
      <td id="4_days_later_1700"></td>
      <td id="5_days_later_1700"></td>
      <td id="6_days_later_1700"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>05:30 pm</span></td>
      <td id="today_1730"></td>
      <td id="tmr_1730"></td>
      <td id="2_days_later_1730"></td>
      <td id="3_days_later_1730"></td>
      <td id="4_days_later_1730"></td>
      <td id="5_days_later_1730"></td>
      <td id="6_days_later_1730"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>06:00 pm</span></td>
      <td id="today_1800"></td>
      <td id="tmr_1800"></td>
      <td id="2_days_later_1800"></td>
      <td id="3_days_later_1800"></td>
      <td id="4_days_later_1800"></td>
      <td id="5_days_later_1800"></td>
      <td id="6_days_later_1800"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>06:30 pm</span></td>
      <td id="today_1830"></td>
      <td id="tmr_1830"></td>
      <td id="2_days_later_1830"></td>
      <td id="3_days_later_1830"></td>
      <td id="4_days_later_1830"></td>
      <td id="5_days_later_1830"></td>
      <td id="6_days_later_1830"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>07:00 pm</span></td>
      <td id="today_1900"></td>
      <td id="tmr_1900"></td>
      <td id="2_days_later_1900"></td>
      <td id="3_days_later_1900"></td>
      <td id="4_days_later_1900"></td>
      <td id="5_days_later_1900"></td>
      <td id="6_days_later_1900"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>07:30 pm</span></td>
      <td id="today_1930"></td>
      <td id="tmr_1930"></td>
      <td id="2_days_later_1930"></td>
      <td id="3_days_later_1930"></td>
      <td id="4_days_later_1930"></td>
      <td id="5_days_later_1930"></td>
      <td id="6_days_later_1930"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>08:00 pm</span></td>
      <td id="today_2000"></td>
      <td id="tmr_2000"></td>
      <td id="2_days_later_2000"></td>
      <td id="3_days_later_2000"></td>
      <td id="4_days_later_2000"></td>
      <td id="5_days_later_2000"></td>
      <td id="6_days_later_2000"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>08:30 pm</span></td>
      <td id="today_2030"></td>
      <td id="tmr_2030"></td>
      <td id="2_days_later_2030"></td>
      <td id="3_days_later_2030"></td>
      <td id="4_days_later_2030"></td>
      <td id="5_days_later_2030"></td>
      <td id="6_days_later_2030"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>09:00 pm</span></td>
      <td id="today_2100"></td>
      <td id="tmr_2100"></td>
      <td id="2_days_later_2100"></td>
      <td id="3_days_later_2100"></td>
      <td id="4_days_later_2100"></td>
      <td id="5_days_later_2100"></td>
      <td id="6_days_later_2100"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>09:30 pm</span></td>
      <td id="today_2130"></td>
      <td id="tmr_2130"></td>
      <td id="2_days_later_2130"></td>
      <td id="3_days_later_2130"></td>
      <td id="4_days_later_2130"></td>
      <td id="5_days_later_2130"></td>
      <td id="6_days_later_2130"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>10:00 pm</span></td>
      <td id="today_2200"></td>
      <td id="tmr_2200"></td>
      <td id="2_days_later_2200"></td>
      <td id="3_days_later_2200"></td>
      <td id="4_days_later_2200"></td>
      <td id="5_days_later_2200"></td>
      <td id="6_days_later_2200"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>10:30 pm</span></td>
      <td id="today_2230"></td>
      <td id="tmr_2230"></td>
      <td id="2_days_later_2230"></td>
      <td id="3_days_later_2230"></td>
      <td id="4_days_later_2230"></td>
      <td id="5_days_later_2230"></td>
      <td id="6_days_later_2230"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>11:00 pm</span></td>
      <td id="today_2300"></td>
      <td id="tmr_2300"></td>
      <td id="2_days_later_2300"></td>
      <td id="3_days_later_2300"></td>
      <td id="4_days_later_2300"></td>
      <td id="5_days_later_2300"></td>
      <td id="6_days_later_2300"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1"><span>11:30 pm</span></td>
      <td id="today_2330"></td>
      <td id="tmr_2330"></td>
      <td id="2_days_later_2330"></td>
      <td id="3_days_later_2330"></td>
      <td id="4_days_later_2330"></td>
      <td id="5_days_later_2330"></td>
      <td id="6_days_later_2330"></td>
  </tr>
  <tr>
      <td class="hour" rowspan="1" style="background-color:#9DD6D6"><span>12:00 pm</span></td>
      <td id="today_2400"></td>
      <td id="tmr_2400"></td>
      <td id="2_days_later_2400"></td>
      <td id="3_days_later_2400"></td>
      <td id="4_days_later_2400"></td>
      <td id="5_days_later_2400"></td>
      <td id="6_days_later_2400"></td>
  </tr>
  </tbody>
</table>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


</body>
<script src="../static/js/schedule_builder.js"></script>
<script>
    var dateArray = buildDateArray("{{appointmentDate}}");
    var dayArray = buildDayArray(dateArray);
    var startTimeArray = buildStartTimeArray("{{appointStartTime}}");
    var endTimeArray = buildEndTimeArray("{{appointEndTime}}");
    buildAvailSchedule(dayArray,startTimeArray,endTimeArray);
</script>
</html>
