<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h1>Sign Up</h1>
    <form method ="POST" action =""></form>
    <div class ="form-group">
        {{render field(form.name, class="form-control"}}
    </div>
    <div class ="form-group">
        {{render field(form.email, class="form-control"}}
    </div>
    <div class ="form-group">
        {{render field(form.username, class="form-control"}}
    </div>
    <div class ="form-group">
        {{render field(form.password, class="form-control"}}
    </div>
    <div class ="form-group">
        {{render field(form.confirm, class="form-control"}}
    </div>


</body>
</html>